* {
    box-sizing: border-box;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
body {
    background-image: url('6ca2cd6d09b973b55f617a451718f94d.jpg');
    background-repeat: no-repeat;
    background-size: 100% 1024px;
    background-attachment: fixed;
    width: 99%;
}
div h3 {
    font-family: 'Coiny', cursive;
    font-size: 30px;
    margin-top: -1%;
}
div p i {
    font-family: 'VT323', monospace;
    font-size: 15px;
}
#container {
    position: absolute;
    border-radius: 20px;
    background-color: rgba(32, 136, 131, 0.6);
    top: 5%;
    width: 400px;
    right: 33%;
    left: 33%;
}
/*#container > div {
    background-color: rgb(170, 43, 43);
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
}*/
div img {
    width: 50%;
    border-radius: 50%;
    border: 1px solid grey;
}
#avatar {
    text-align: center;
    margin-top: 10px;
}
#name {
    text-align: center;
}
#name p{
    margin-top: -40px;
}
#quote {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}
#line1 {
    margin-top: 40px;
}
#line2 {
    text-align: center;
    margin-top: -10px;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    border-radius: 60px;

    width: 90%;
    margin-bottom: 8px;
}
li a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding-left: 3%;
    font-family: 'Lalezar', cursive;
    border: 5px solid #b3b3b3;
    border-radius: 60px;
    color: #b3b3b3;
    height: 40px;
    width: 160px;
    margin-left: -16%;
}
a i {
    float: right;
    font-size: 25px;
    padding-right: 15px;
    padding-top: 3px;
}
li #fb:hover {
    color: #3399ff;
    border: 5px solid #3399ff;
}
li #ins:hover {
    color: #ff66ff;
    border: 5px solid #ff66ff;
}
li #mail:hover {
    color: #ff3333;
    border: 5px solid #ff3333;
}
li #call:hover {
    color: #006600;
    border: 5px solid #006600;
}
li #text:hover {
    color: #7979d2;
    border: 5px solid #7979d2;
}
li #skype:hover {
    color: #66c2ff;
    border: 5px solid #66c2ff;
}
@-webkit-keyframes flipInX {
    from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }
  
  @keyframes flipInX {
    from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  
    60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }
  
  .flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }